In [3]:
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) 
warnings.filterwarnings("ignore", category=FutureWarning) 

import pandas as pd

In [5]:
df = pd.read_csv('full_devices.csv', encoding_errors='ignore')
print(df.shape)
df.head()

(124494, 12)

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1,2015-01-01,S1F0166B,0,61370680,0,3,0,6,403174,0,0,0
2,2015-01-01,S1F01E6Y,0,173295968,0,0,0,12,237394,0,0,0
3,2015-01-01,S1F01JE0,0,79694024,0,0,0,6,410186,0,0,0
4,2015-01-01,S1F01R2B,0,135970480,0,0,0,15,313173,0,0,3

In [22]:
df.groupby('failure').agg(num_unique_devices=('device','nunique'),
                          num_incidents=('device','count')
                          )

         num_unique_devices  num_incidents
failure
0                      1169         124388
1                       106            106

In [45]:
#df.device.value_counts()

#df[df['failure']==1][['device', 'failure']].drop_duplicates()
devices_with_failure = df[df['failure']==1].device.unique().tolist()
print(devices_with_failure)


devices_without_failure = df[~df['device'].isin(devices_with_failure)].device.unique().tolist()
print(devices_without_failure)

['S1F0RRB1', 'S1F0CTDN', 'W1F0PNA5', 'W1F13SRV', 'W1F1230J', 'W1F0T034', 'S1F0GG8X', 'S1F023H2', 'S1F0QY11', 'S1F0S2WJ', 'W1F0Z1W9', 'W1F15S4D', 'Z1F0LVPW', 'Z1F0NVZA', 'Z1F1FCH5', 'S1F0P3G2', 'W1F0F6BN', 'W1F0P114', 'W1F0X4FC', 'S1F0LCTV', 'W1F03DP4', 'W1F0FW0S', 'S1F10E6M', 'S1F11MB0', 'W1F0SGHR', 'W1F0VDH2', 'W1F0TA59', 'Z1F0LVGY', 'Z1F0MCCA', 'Z1F0P5D9', 'W1F0NZZZ', 'W1F0T074', 'S1F0DSTY', 'S1F0TQCV', 'Z1F04GCH', 'W1F08EDA', 'W1F1C9TE', 'S1F0S4CA', 'W1F19BPT', 'Z1F130LH', 'S1F0GJW3', 'S1F0LD2C', 'W1F0Q8FH', 'Z1F0FSBY', 'W1F0Z4EA', 'Z1F0QH0C', 'S1F0S4T6', 'W1F1CDDP', 'S1F0S57T', 'S1F0JD7P', 'S1F13H80', 'Z1F148T1', 'S1F0RSZP', 'S1F0GKFX', 'S1F0LCVC', 'W1F1BZTM', 'Z1F1RJFA', 'S1F13589', 'S1F136J0', 'S1F0F4EB', 'W1F1C9WG', 'S1F0RR35', 'Z1F1653X', 'Z1F1AG5N', 'W1F0KCP2', 'W1F0M35B', 'Z1F1901P', 'S1F0GKL6', 'Z1F0K451', 'W1F03D4L', 'W1F0FKWW', 'S1F0PJJW', 'W1F0X5GW', 'S1F0L0DW', 'W1F0WBTM', 'S1F0GSD9', 'S1F0QF3R', 'W1F0Z3KR', 'W1F0M4BZ', 'Z1F0B4XZ', 'W1F0GCAZ', 'Z1F0LSNZ', 'Z1F1VQFY', 'Z1F0P16F', 'S1F0S65X', 'W1F1BS0H', 'W1F0PAXH', 'S1F0GPFZ', 'S1F0J5JH', 'W1F1CJ1K', 'S1F0S4EG', 'S1F09DZQ', 'W1F11ZG9', 'S1F0LD15', 'W1F1BFP5', 'S1F0T2LA', 'W1F14XGD', 'S1F135TN', 'W1F1DQN8', 'S1F03YZM', 'S1F0GSHB', 'W1F1CB5E', 'Z1F0MRPJ', 'S1F0JGJV', 'Z1F14BGY', 'W1F0T0B1']
['S1F01085', 'S1F0166B', 'S1F01E6Y', 'S1F01JE0', 'S1F01R2B', 'S1F01TD5', 'S1F01XDJ', 'S1F02A0J', 'S1F02DZ2', 'S1F02EVN', 'S1F02L38', 'S1F02MGA', 'S1F02P76', 'S1F02VAX', 'S1F02WFT', 'S1F0318A', 'S1F0322R', 'S1F0330P', 'S1F035SJ', 'S1F0377V', 'S1F039FE', 'S1F03RV3', 'S1F044ET', 'S1F049RX', 'S1F04DH8', 'S1F04KSC', 'S1F04MVQ', 'S1F04R7Y', 'S1F04TS4', 'S1F04Y6C', 'S1F059G0', 'S1F05AFP', 'S1F05B1Q', 'S1F05NAJ', 'S1F05P51', 'S1F05P5Z', 'S1F06E04', 'S1F06F7K', 'S1F06R6W', 'S1F06ZX2', 'S1F08R94', 'S1F08S38', 'S1F09MAK', 'S1F09MSM', 'S1F0A1PX', 'S1F0A1VP', 'S1F0AADQ', 'S1F0AEFT', 'S1F0B3XA', 'S1F0B5QJ', 'S1F0BN0S', 'S1F0BQZK', 'S1F0BVK1', 'S1F0BWZ3', 'S1F0C95J', 'S1F0CE60', 'S1F0CSBR', 'S1F0CSRZ', 'S1F0CT09', 'S1F0CT4F', 'S1F0CTDY', 'S1F0CTRL', 'S1F0CVDS', 'S1F0CVRM', 'S1F0CVWK', 'S1F0CVY5', 'S1F0CWHW', 'S1F0CWKN', 'S1F0CWXJ', 'S1F0DKAN', 'S1F0E9EP', 'S1F0EEP2', 'S1F0EGMT', 'S1F0EGSH', 'S1F0F4G4', 'S1F0FGBQ', 'S1F0FP0C', 'S1F0FVBE', 'S1F0FW8K', 'S1F0FZ8F', 'S1F0G0XX', 'S1F0G9ZF', 'S1F0GCED', 'S1F0GGJD', 'S1F0GGPP', 'S1F0GHJ1', 'S1F0GJL9', 'S1F0GPXY', 'S1F0GQCL', 'S1F0GRB1', 'S1F0GV0W', 'S1F0H6JG', 'S1F0H6JJ', 'S1F0HWXJ', 'S1F0JMRJ', 'S1F0KY6R', 'S1F0KYCR', 'S1F0KZJJ', 'S1F0L11K', 'S1F0LBMG', 'S1F0LBY2', 'S1F0LC06', 'S1F0LCKH', 'S1F0LCQX', 'S1F0LCS6', 'S1F0LCSV', 'S1F0LD73', 'S1F0LDB5', 'S1F0LDED', 'S1F0LDKM', 'S1F0LDLW', 'S1F0LE2X', 'S1F0LEBM', 'S1F0LHH2', 'S1F0LL2X', 'S1F0LLKM', 'S1F0LQDQ', 'S1F0LR01', 'S1F0M2PQ', 'S1F0MBV5', 'S1F0P1K7', 'S1F0P2B4', 'S1F0PEVC', 'S1F0PF59', 'S1F0PF5Q', 'S1F0PG6Z', 'S1F0PGHQ', 'S1F0PGZ6', 'S1F0PJAJ', 'S1F0PJZP', 'S1F0PK2J', 'S1F0PK70', 'S1F0PL0R', 'S1F0PL7D', 'S1F0PLEL', 'S1F0PXZL', 'S1F0QWEQ', 'S1F0QWGA', 'S1F0QWGD', 'S1F0QWPP', 'S1F0QWV6', 'S1F0QWWF', 'S1F0QWYG', 'S1F0QWZP', 'S1F0QX41', 'S1F0QX4C', 'S1F0QXCB', 'S1F0QXDD', 'S1F0QXDQ', 'S1F0QXM0', 'S1F0QXNB', 'S1F0QXRG', 'S1F0QXTJ', 'S1F0QXVD', 'S1F0QXXH', 'S1F0QXYA', 'S1F0QXZS', 'S1F0QY05', 'S1F0QY0Q', 'S1F0QY1C', 'S1F0QY71', 'S1F0QY8S', 'S1F0QYBJ', 'S1F0QYJX', 'S1F0QYLA', 'S1F0QYMX', 'S1F0QYND', 'S1F0QYPA', 'S1F0QYRB', 'S1F0QYRS', 'S1F0QYX3', 'S1F0QYX4', 'S1F0QYYB', 'S1F0QZ0P', 'S1F0QZSF', 'S1F0QZXV', 'S1F0QZYJ', 'S1F0R0JT', 'S1F0R0PX', 'S1F0R12B', 'S1F0R12Y', 'S1F0R15Y', 'S1F0R1GK', 'S1F0R20R', 'S1F0R2CW', 'S1F0R2KW', 'S1F0R2RJ', 'S1F0R2S6', 'S1F0R2SV', 'S1F0R2VP', 'S1F0R2VR', 'S1F0R37Q', 'S1F0R3FB', 'S1F0R3JV', 'S1F0R3LG', 'S1F0R3N9', 'S1F0R4JP', 'S1F0R4JY', 'S1F0R4Q8', 'S1F0R4YC', 'S1F0RG6V', 'S1F0RKT7', 'S1F0RM77', 'S1F0RQLR', 'S1F0RR0C', 'S1F0RR2E', 'S1F0RR5M', 'S1F0RR69', 'S1F0RR7L', 'S1F0RRDW', 'S1F0RREN', 'S1F0RRXY', 'S1F0RS3B', 'S1F0RS72', 'S1F0RS81', 'S1F0RSDT', 'S1F0RSER', 'S1F0RSFT', 'S1F0RSG7', 'S1F0RSML', 'S1F0RSMR', 'S1F0RSWJ', 'S1F0RSXC', 'S1F0RSZZ', 'S1F0RTQV', 'S1F0RV6Z', 'S1F0RVG8', 'S1F0RVVR', 'S1F0S02A', 'S1F0S0NC', 'S1F0S1QK', 'S1F0S30R', 'S1F0S33G', 'S1F0S34C', 'S1F0S34Q', 'S1F0S351', 'S1F0S363', 'S1F0S382', 'S1F0S387', 'S1F0S3A3', 'S1F0S3CR', 'S1F0S3DF', 'S1F0S454', 'S1F0S49E', 'S1F0S4G4', 'S1F0S4GB', 'S1F0S4MG', 'S1F0S4QZ', 'S1F0S4WV', 'S1F0S4Y9', 'S1F0S517', 'S1F0S52H', 'S1F0S537', 'S1F0S561', 'S1F0S58D', 'S1F0S5B2', 'S1F0S5CE', 'S1F0S5E9', 'S1F0S5F0', 'S1F0S5LP', 'S1F0S5NE', 'S1F0S5SR', 'S1F0S5VX', 'S1F0S5WJ', 'S1F0S5YZ', 'S1F0S613', 'S1F0S62V', 'S1F0S62Z', 'S1F0S63A', 'S1F0S649', 'S1F0S66R', 'S1F0S68M', 'S1F0S6AB', 'S1F0S6B7', 'S1F0S6EY', 'S1F0S6FZ', 'S1F0S6GZ', 'S1F0S6HH', 'S1F0S6L1', 'S1F0S6VR', 'S1F0S70T', 'S1F0S7B7', 'S1F0S7DN', 'S1F0SAB1', 'S1F0SAB3', 'S1F0SAC1', 'S1F0SBBW', 'S1F0SBCL', 'S1F0SBF5', 'S1F0SBHA', 'S1F0SBJA', 'S1F0SBLG', 'S1F0SBXC', 'S1F0SC17', 'S1F0SCHE', 'S1F0SCPM', 'S1F0SCT6', 'S1F0T1AC', 'S1F0T1BB', 'S1F0T1K8', 'S1F0T22E', 'S1F0T24J', 'S1F0T29K', 'S1F0T2FN', 'S1F0TBK9', 'S1F0TCGQ', 'S1F0TD9A', 'S1F0TKSC', 'S1F0TKW7', 'S1F0TMLM', 'S1F0TMRF', 'S1F0TN84', 'S1F0TNAB', 'S1F0TND9', 'S1F0TNNA', 'S1F0TNSA', 'S1F0TNW4', 'S1F0TNYF', 'S1F0TP5E', 'S1F0TP6E', 'S1F0TP75', 'S1F0TP82', 'S1F0TP8F', 'S1F0TPH4', 'S1F0TPJC', 'S1F0TPK1', 'S1F0TPMF', 'S1F0TPS0', 'S1F0TPYB', 'S1F0TQ7S', 'S1F0TQ9G', 'S1F0TQCF', 'S1F0TQEJ', 'S1F0TQJ4', 'S1F0TQLY', 'S1F0TQNP', 'S1F0TQP1', 'S1F0TQQ1', 'S1F0TQR9', 'S1F0TQTF', 'S1F0TQTH', 'S1F0VE11', 'S1F0VE35', 'S1F0W45F', 'S1F0WWHD', 'S1F0X4RC', 'S1F0XMNV', 'S1F0Y4H6', 'S1F0Y6BM', 'S1F0Y8MA', 'S1F0YX6Z', 'S1F100R5', 'S1F101MC', 'S1F101SP', 'S1F1021H', 'S1F102L8', 'S1F1073Z', 'S1F10AS0', 'S1F10BNL', 'S1F10BRH', 'S1F10D0P', 'S1F10EBC', 'S1F10FDX', 'S1F10FF0', 'S1F10FFZ', 'S1F10FZB', 'S1F10GDQ', 'S1F10GSG', 'S1F10HH5', 'S1F10JL3', 'S1F10NDB', 'S1F10NM6', 'S1F10P0S', 'S1F10PED', 'S1F10QDG', 'S1F10QG6', 'S1F10QH3', 'S1F10QL8', 'S1F10RKC', 'S1F10RWZ', 'S1F10V1N', 'S1F10VJH', 'S1F10VP8', 'S1F114QM', 'S1F114QR', 'S1F115Z6', 'S1F1162D', 'S1F116H4', 'S1F116J4', 'S1F117PK', 'S1F118JP', 'S1F119X9', 'S1F11A9R', 'S1F11AK8', 'S1F11AXR', 'S1F11B1E', 'S1F11C16', 'S1F11CJC', 'S1F11DBJ', 'S1F11ETS', 'S1F11G2C', 'S1F11GG5', 'S1F11K34', 'S1F11KAY', 'S1F11KQW', 'S1F11L11', 'S1F11MT9', 'S1F11S2Q', 'S1F11S5B', 'S1F11WEH', 'S1F11XDA', 'S1F11Y4K', 'S1F11YHR', 'S1F121LH', 'S1F122HQ', 'S1F122KD', 'S1F12788', 'S1F12XGM', 'S1F12XJ4', 'S1F12Y53', 'S1F12ZAS', 'S1F12ZQB', 'S1F12ZQN', 'S1F12ZRR', 'S1F12ZSD', 'S1F12ZZ2', 'S1F130GX', 'S1F130JB', 'S1F1318D', 'S1F131F6', 'S1F1327G', 'S1F132A5', 'S1F133YJ', 'S1F13432', 'S1F134QM', 'S1F1358N', 'S1F1359T', 'S1F135BR', 'S1F135CE', 'S1F135D3', 'S1F135DG', 'S1F135DN', 'S1F135F0', 'S1F135F2', 'S1F135F3', 'S1F135GA', 'S1F135QH', 'S1F135SZ', 'S1F135WP', 'S1F1360P', 'S1F1360W', 'S1F13619', 'S1F13635', 'S1F1364P', 'S1F1365W', 'S1F1368E', 'S1F13699', 'S1F136A5', 'S1F136BS', 'S1F136FG', 'S1F136JY', 'S1F136KG', 'S1F136KJ', 'S1F13B32', 'S1F13BQX', 'S1F13BTN', 'S1F13CBB', 'S1F13CMG', 'S1F13GPY', 'S1F13HPP', 'S1F13HPR', 'S1F13HWA', 'S1F13JW4', 'S1F13K7S', 'S1F13K8E', 'S1F13KBJ', 'S1F13KBZ', 'S1F13KC2', 'S1F13KF6', 'S1F13KG3', 'S1F13KNV', 'S1F13KZK', 'S1F13M9A', 'S1F13MAM', 'W1F00CL9', 'W1F034ZE', 'W1F03CRZ', 'W1F03E8C', 'W1F03Y44', 'W1F05X69', 'W1F06QVP', 'W1F06RAW', 'W1F07EWB', 'W1F08B0G', 'W1F08J1G', 'W1F08KX5', 'W1F08KZW', 'W1F08PYR', 'W1F08RHG', 'W1F095DW', 'W1F097FV', 'W1F09H4J', 'W1F09HBX', 'W1F09WLS', 'W1F0A27Q', 'W1F0AQ9Q', 'W1F0AQDE', 'W1F0AQGD', 'W1F0BJ6E', 'W1F0DXT8', 'W1F0ED5X', 'W1F0F65G', 'W1F0FEH7', 'W1F0FML1', 'W1F0FY92', 'W1F0FYLJ', 'W1F0FZPA', 'W1F0G0NT', 'W1F0G99N', 'W1F0G9T7', 'W1F0GPGR', 'W1F0H973', 'W1F0H9RN', 'W1F0HJWZ', 'W1F0HNC5', 'W1F0HPZK', 'W1F0HR3T', 'W1F0HSKB', 'W1F0HT26', 'W1F0HTQ2', 'W1F0HYT8', 'W1F0J7W7', 'W1F0J9KM', 'W1F0JA75', 'W1F0JA9T', 'W1F0JAZB', 'W1F0JAZC', 'W1F0JEB8', 'W1F0JH87', 'W1F0JHRJ', 'W1F0JXDL', 'W1F0JY02', 'W1F0K9C1', 'W1F0KAX2', 'W1F0KCN8', 'W1F0KCR5', 'W1F0KCZ0', 'W1F0KD20', 'W1F0KD2K', 'W1F0KD36', 'W1F0KD3Y', 'W1F0KD47', 'W1F0KDDQ', 'W1F0KG97', 'W1F0KHHQ', 'W1F0KJMC', 'W1F0KRWP', 'W1F0L2LC', 'W1F0L2Q7', 'W1F0L66L', 'W1F0L6ZS', 'W1F0LBD3', 'W1F0LS71', 'W1F0LSFS', 'W1F0LYBN', 'W1F0LYY0', 'W1F0LZFB', 'W1F0LZJX', 'W1F0M02P', 'W1F0M330', 'W1F0M46R', 'W1F0M492', 'W1F0M6Y0', 'W1F0MNDQ', 'W1F0MW4S', 'W1F0MZRT', 'W1F0N0DC', 'W1F0N84F', 'W1F0NB60', 'W1F0NBYN', 'W1F0NF1S', 'W1F0NNAH', 'W1F0NZSK', 'W1F0P133', 'W1F0P24E', 'W1F0P2M4', 'W1F0P2TN', 'W1F0P33Z', 'W1F0P37T', 'W1F0P3FR', 'W1F0P41T', 'W1F0P49T', 'W1F0P6E1', 'W1F0QE96', 'W1F0QKJP', 'W1F0QTJM', 'W1F0R731', 'W1F0R8W2', 'W1F0RN8N', 'W1F0RXV0', 'W1F0S9SP', 'W1F0SCL1', 'W1F0SFJJ', 'W1F0SJJ2', 'W1F0SJNS', 'W1F0SNW3', 'W1F0SRG1', 'W1F0SRNZ', 'W1F0SVA7', 'W1F0SWST', 'W1F0SWXK', 'W1F0T13Q', 'W1F0T371', 'W1F0T3AJ', 'W1F0T3H5', 'W1F0T3LK', 'W1F0T474', 'W1F0T960', 'W1F0TAEP', 'W1F0TATM', 'W1F0TCG0', 'W1F0TGSS', 'W1F0THAD', 'W1F0THPN', 'W1F0TJ66', 'W1F0TK8P', 'W1F0TQEE', 'W1F0TXKY', 'W1F0TYQ9', 'W1F0V8CY', 'W1F0VA0G', 'W1F0VAS7', 'W1F0VC83', 'W1F0VDS7', 'W1F0VF0M', 'W1F0VFRE', 'W1F0VJT2', 'W1F0VJXT', 'W1F0VKTT', 'W1F0VKVH', 'W1F0VL4Q', 'W1F0VL6W', 'W1F0VL7M', 'W1F0VL9X', 'W1F0VNT7', 'W1F0VVMM', 'W1F0VZF4', 'W1F0VZFH', 'W1F0W0RV', 'W1F0W1R9', 'W1F0W220', 'W1F0W2BX', 'W1F0W2DH', 'W1F0W3GE', 'W1F0W5AQ', 'W1F0W5XL', 'W1F0W63P', 'W1F0W685', 'W1F0W6QD', 'W1F0W8BD', 'W1F0W9SR', 'W1F0WJFT', 'W1F0WJHE', 'W1F0WK71', 'W1F0WKE1', 'W1F0WKLP', 'W1F0WKMJ', 'W1F0WLZP', 'W1F0WMPM', 'W1F0WN8P', 'W1F0WRX5', 'W1F0WW7E', 'W1F0WZ0P', 'W1F0X3H8', 'W1F0X3MJ', 'W1F0X3PH', 'W1F0X3PR', 'W1F0X3ZX', 'W1F0X44B', 'W1F0X47B', 'W1F0X47W', 'W1F0X4AK', 'W1F0X4CX', 'W1F0X4F6', 'W1F0X4TS', 'W1F0X4VZ', 'W1F0X4ZX', 'W1F0X5HV', 'W1F0X5J5', 'W1F0X5JF', 'W1F0X5JV', 'W1F0X5KA', 'W1F0X5KT', 'W1F0X5KX', 'W1F0X5L3', 'W1F0X5L8', 'W1F0X5N2', 'W1F0X5TL', 'W1F0X5VA', 'W1F0X60T', 'W1F0X6CF', 'W1F0X6HZ', 'W1F0X6KZ', 'W1F0X6SQ', 'W1F0X6TM', 'W1F0X6V0', 'W1F0X6VJ', 'W1F0X70N', 'W1F0X711', 'W1F0X7P2', 'W1F0X7PR', 'W1F0X7QX', 'W1F0XKWR', 'W1F0Y13C', 'W1F0Y2PY', 'W1F0YJ6K', 'W1F0YKBQ', 'W1F0YKEW', 'W1F0Z2JE', 'W1F0Z3FW', 'W1F0Z3G1', 'W1F0Z491', 'W1F0Z4AY', 'W1F0Z4CF', 'W1F0Z4SP', 'W1F0Z4W7', 'W1F0Z4X0', 'W1F0Z4X2', 'W1F0Z569', 'W1F0Z56F', 'W1F0Z588', 'W1F0Z5T8', 'W1F0Z62G', 'W1F0ZDTJ', 'W1F0ZG5V', 'W1F0ZJK8', 'W1F0ZK0H', 'W1F0ZVD8', 'W1F10Y8K', 'W1F111C6', 'W1F111N7', 'W1F111Q7', 'W1F11CR1', 'W1F11FCC', 'W1F11JQW', 'W1F12JLS', 'W1F12JRF', 'W1F12KWT', 'W1F1335J', 'W1F133A0', 'W1F1354W', 'W1F13B09', 'W1F13SJ7', 'W1F14FS4', 'W1F14GTK', 'W1F14GWF', 'W1F14H94', 'W1F14HAQ', 'W1F14N6K', 'W1F14NBM', 'W1F14NE5', 'W1F14XK6', 'W1F15NRT', 'W1F15P5S', 'W1F16RA7', 'W1F17D9Z', 'W1F17DKS', 'W1F17E35', 'W1F17GR6', 'W1F17RLV', 'W1F181WP', 'W1F18TKX', 'W1F18YT8', 'W1F19J5Q', 'W1F19LPJ', 'W1F1A4H9', 'W1F1AN6A', 'W1F1AQ6G', 'W1F1ARYY', 'W1F1B0KF', 'W1F1BAE6', 'W1F1BFHS', 'W1F1BFMS', 'W1F1BFRJ', 'W1F1BFZT', 'W1F1BG0P', 'W1F1BG4H', 'W1F1BGAB', 'W1F1BQNS', 'W1F1BQTN', 'W1F1BRM3', 'W1F1BS9T', 'W1F1BTB2', 'W1F1BW8W', 'W1F1C0R9', 'W1F1C51R', 'W1F1C9HM', 'W1F1CA72', 'W1F1CAKS', 'W1F1CCGF', 'W1F1CDRE', 'W1F1CHY9', 'W1F1CHZK', 'W1F1CJ27', 'W1F1CJ3G', 'W1F1CJKT', 'W1F1CJXM', 'W1F1CK1V', 'W1F1CK5G', 'W1F1CKB5', 'W1F1CKJZ', 'W1F1CKKW', 'W1F1CKSX', 'W1F1CKXZ', 'W1F1CL1K', 'W1F1CL8Q', 'W1F1CLBY', 'W1F1CLED', 'W1F1CLH3', 'W1F1CLJG', 'W1F1CLNF', 'W1F1CM57', 'W1F1CM7H', 'W1F1CM93', 'W1F1CMCY', 'W1F1CMFD', 'W1F1CMG4', 'W1F1CMJW', 'W1F1CMVG', 'W1F1CMVW', 'W1F1CNV3', 'W1F1CZLY', 'W1F1D899', 'W1F1D8GZ', 'W1F1D93M', 'W1F1D99S', 'W1F1DA55', 'W1F1DABR', 'W1F1DN0Y', 'W1F1DN3S', 'W1F1DNYH', 'W1F1DPSA', 'W1F1DQ6A', 'W1F1DQJD', 'W1F1DQQT', 'W1F1DQR9', 'W1F1DX8D', 'W1F1FHEK', 'W1F1FZ8B', 'W1F1GLFN', 'W1F1GMWX', 'W1F1MRP9', 'W1F1MTM2', 'W1F1N4CT', 'W1F1N6V6', 'W1F1NS0C', 'W1F1NSHB', 'W1F1NTWG', 'W1F1Q5EF', 'W1F1ZVME', 'Z1F02KDL', 'Z1F02MRX', 'Z1F02NBQ', 'Z1F04CA7', 'Z1F06WA0', 'Z1F0AHAT', 'Z1F0AM4J', 'Z1F0BA45', 'Z1F0BF9X', 'Z1F0CBSH', 'Z1F0CRT8', 'Z1F0D8DV', 'Z1F0DZAQ', 'Z1F0E1CS', 'Z1F0E2J2', 'Z1F0E74T', 'Z1F0EWVK', 'Z1F0FAZJ', 'Z1F0G55J', 'Z1F0GB8A', 'Z1F0GE1M', 'Z1F0KJDS', 'Z1F0KKN4', 'Z1F0KQWF', 'Z1F0KSLS', 'Z1F0KZ3H', 'Z1F0L2VS', 'Z1F0L3BL', 'Z1F0L4J2', 'Z1F0L4S8', 'Z1F0L4T5', 'Z1F0L4Y0', 'Z1F0L55E', 'Z1F0L613', 'Z1F0L6BY', 'Z1F0L6DJ', 'Z1F0L78Z', 'Z1F0L7M8', 'Z1F0L7NS', 'Z1F0L7NZ', 'Z1F0L7PX', 'Z1F0LB4J', 'Z1F0LBBG', 'Z1F0LBT6', 'Z1F0LCDA', 'Z1F0LH2M', 'Z1F0LH7B', 'Z1F0LH7E', 'Z1F0LJTD', 'Z1F0LKBP', 'Z1F0LKEE', 'Z1F0LKMJ', 'Z1F0LKWC', 'Z1F0LKX4', 'Z1F0LL7D', 'Z1F0LLED', 'Z1F0LLFY', 'Z1F0LLKC', 'Z1F0LLKR', 'Z1F0LLPJ', 'Z1F0LLPS', 'Z1F0LLWH', 'Z1F0LM11', 'Z1F0LM6T', 'Z1F0LNQB', 'Z1F0LQGS', 'Z1F0LQMH', 'Z1F0LR8G', 'Z1F0LRLQ', 'Z1F0LSHN', 'Z1F0LSNM', 'Z1F0LSPT', 'Z1F0LSQ2', 'Z1F0LSQ4', 'Z1F0LSXW', 'Z1F0LT0S', 'Z1F0LT3Y', 'Z1F0LT4K', 'Z1F0LT6P', 'Z1F0LT6Z', 'Z1F0LTAV', 'Z1F0LV8X', 'Z1F0LV93', 'Z1F0LVEM', 'Z1F0LVL5', 'Z1F0M0TV', 'Z1F0M0XP', 'Z1F0M7QD', 'Z1F0MA1S', 'Z1F0MBGF', 'Z1F0MM43', 'Z1F0MP8Q', 'Z1F0MQJ2', 'Z1F0MR6M', 'Z1F0MSSJ', 'Z1F0MTFT', 'Z1F0MWE7', 'Z1F0MXFY', 'Z1F0MYCF', 'Z1F0MYEL', 'Z1F0N11J', 'Z1F0N2WV', 'Z1F0N5AD', 'Z1F0N7VR', 'Z1F0N8QM', 'Z1F0PSHD', 'Z1F0Q8RT', 'Z1F0Q9H0', 'Z1F0QGSE', 'Z1F0QGWP', 'Z1F0QH7R', 'Z1F0QHG2', 'Z1F0QK05', 'Z1F0QK7Z', 'Z1F0QKA2', 'Z1F0QKEW', 'Z1F0QKGH', 'Z1F0QKMV', 'Z1F0QL3N', 'Z1F0QLC1', 'Z1F0QLC7', 'Z1F0QQ5F', 'Z1F0QSB1', 'Z1F0QZJB', 'Z1F0R8FZ', 'Z1F0R8QZ', 'Z1F0R9TM', 'Z1F0RGNJ', 'Z1F0RGQV', 'Z1F0RL5B', 'Z1F0VJ8V', 'Z1F0VNSW', 'Z1F0W23J', 'Z1F0WPTF', 'Z1F0WVLC', 'Z1F0ZCPW', 'Z1F118C9', 'Z1F11B2R', 'Z1F11BHF', 'Z1F11RAE', 'Z1F11SL0', 'Z1F11SYE', 'Z1F1473X', 'Z1F1479Y', 'Z1F147WQ', 'Z1F14F5V', 'Z1F14Z4F', 'Z1F151C1', 'Z1F156MQ', 'Z1F15HYM', 'Z1F15VY4', 'Z1F161QC', 'Z1F1632F', 'Z1F1652D', 'Z1F16BR1', 'Z1F16G31', 'Z1F16LDN', 'Z1F17XPD', 'Z1F17YTD', 'Z1F17Z3N', 'Z1F17ZCN', 'Z1F18YB3', 'Z1F18YST', 'Z1F19ENW', 'Z1F19KMH', 'Z1F19QH0', 'Z1F19QM3', 'Z1F19TP2', 'Z1F19TVX', 'Z1F19VF5', 'Z1F1A0CJ', 'Z1F1A0LM', 'Z1F1A0RP', 'Z1F1A1HH', 'Z1F1A7MG', 'Z1F1A83K', 'Z1F1AD0M', 'Z1F1AF54', 'Z1F1AFF2', 'Z1F1AFT5', 'Z1F1AGLA', 'Z1F1AGN5', 'Z1F1AGW1', 'Z1F1B6H4', 'Z1F1B6NP', 'Z1F1B799', 'Z1F1CZ35', 'Z1F1FZ9J', 'Z1F1HEQR', 'Z1F1HSWK', 'Z1F1Q9BD', 'Z1F1R76A', 'Z1F1RE71', 'Z1F1VMZB', 'Z1F26YZB', 'Z1F282ZV', 'Z1F2PBHX', 'W1F0976M', 'S1F013BB', 'S1F02W1L', 'S1F02XLX', 'S1F03499', 'W1F1DA5']

In [39]:
df[df['device'].isin(devices_with_failure)].sort_values(['device','date']).head()

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
7,2015-01-01,S1F023H2,0,141503600,0,0,1,19,494462,16,16,3
1170,2015-01-02,S1F023H2,0,161679800,0,0,1,19,495730,16,16,3
2333,2015-01-03,S1F023H2,0,182358672,0,0,1,19,496974,16,16,3
3496,2015-01-04,S1F023H2,0,204752808,0,0,1,19,497559,16,16,3
4658,2015-01-05,S1F023H2,0,226982888,0,0,1,19,498753,16,16,3

In [52]:
device = 'W1F0T034'

device = 'W1F1230J'

print(len(df[df['device']==device].sort_values(['device','date'])))
df[df['device']==device].sort_values(['device','date']).tail(20)

14

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
815,2015-01-01,W1F1230J,0,160609528,0,0,0,14,307719,0,0,0
1978,2015-01-02,W1F1230J,0,187043960,0,0,0,14,309041,0,0,0
3141,2015-01-03,W1F1230J,0,212033256,0,0,0,14,310378,0,0,0
4303,2015-01-04,W1F1230J,0,231117752,0,0,0,14,311765,0,0,0
5464,2015-01-05,W1F1230J,0,14394264,0,0,0,14,313068,0,0,0
6567,2015-01-06,W1F1230J,0,43272744,0,0,0,14,314337,0,0,0
7419,2015-01-07,W1F1230J,0,61165160,0,0,0,14,315687,0,0,0
8175,2015-01-08,W1F1230J,0,81394392,0,0,0,14,317064,0,0,0
8931,2015-01-09,W1F1230J,0,110557480,0,0,0,14,318382,0,0,0
9686,2015-01-10,W1F1230J,0,134310728,0,0,0,14,319719,0,0,0
10441,2015-01-11,W1F1230J,0,155388216,0,0,0,14,321090,0,0,0
11196,2015-01-12,W1F1230J,0,176293392,0,0,0,14,322421,0,0,0
11951,2015-01-13,W1F1230J,0,196072832,0,0,0,14,323755,0,0,0
12668,2015-01-14,W1F1230J,1,220461296,0,0,0,14,325125,0,0,0

In [50]:
device='S1F01085'

print(len(df[df['device']==device].sort_values(['device','date'])))
df[df['device']==device].sort_values(['device','date']).tail(50)

6

,date,device,failure,attribute1,attribute2,attribute3,attribute4,attribute5,attribute6,attribute7,attribute8,attribute9
0,2015-01-01,S1F01085,0,215630672,56,0,52,6,407438,0,0,7
1163,2015-01-02,S1F01085,0,1650864,56,0,52,6,407438,0,0,7
2326,2015-01-03,S1F01085,0,124017368,56,0,52,6,407438,0,0,7
3489,2015-01-04,S1F01085,0,128073224,56,0,52,6,407439,0,0,7
4651,2015-01-05,S1F01085,0,97393448,56,0,52,6,408114,0,0,7
5812,2015-01-06,S1F01085,0,128832128,56,0,52,6,409404,0,0,7